<script setup>
import { ref } from 'vue';

// data
const text = ref('b');
</script>

<template>
  <div class="component">
    <h2>MySelect</h2>
    <select v-model="text">
      <option value="a">A</option>
      <option value="b">B</option>
      <option value="c">C</option>
    </select>
    <p>Selected Option: {{ text }}</p>
  </div>
</template>

<style scoped>

</style>
