<script setup>
import { ref } from 'vue';

// data
const value = ref(0);
</script>

<template>
  <div class="component">
    <h2>MySlider</h2>
    <span>-5</span><input type="range" min="-5" max="5" v-model="value"><span>5</span>
    <p>value: {{ value }}</p>
  </div>
</template>

<style scoped>

</style>
