<script setup>
import MyComponent from './components/MyComponent.vue'
import MyButton from './components/MyButton.vue'
import MyInput from './components/MyInput.vue'
import MySlider from './components/MySlider.vue'
import MySelect from './components/MySelect.vue'
import MyRadio from './components/MyRadio.vue'
</script>

<template>
  <div class="app">
    <header>
      <h1>App</h1>
    </header>

    <main>
      <MyComponent text1="Hello" text2="Good Bye" />
      <MyButton />
      <MyInput />
      <MySlider />
      <MySelect />
      <MyRadio />
    </main>
  </div>
</template>

<style scoped>
.app {
  background-color: darkcyan;
  box-shadow: 2px 2px 2px black;
  padding-bottom: 1em;
}

h1 {
  padding: 0.5em;
  text-shadow: 2px 2px 2px white;
}
</style>
